/*
 * Custom scroll bar
 * Default theme
 */
.ps
  &:hover
    .ps__rail-x
    .ps__rail-y
      opacity 1

  &:focus
    .ps__rail-x
    .ps__rail-y
      opacity 1

.ps__rail-y
  z-index 2
  width 10px
  opacity 0.8

  &:hover
    .ps__thumb-y
      width 8px
      background-color c-accent

.ps__thumb-y
  width 4px
  background-color c-accent
