@import "./common"

/**
 * Source Sans Pro
 */
webfont("Source Sans Pro", "SourceSansPro", "SourceSansPro-Light", fw-light, normal)
webfont("Source Sans Pro", "SourceSansPro", "SourceSansPro-Regular", fw-regular, normal)
webfont("Source Sans Pro", "SourceSansPro", "SourceSansPro-SemiBold", fw-semi-bold, normal)
webfont("Source Sans Pro", "SourceSansPro", "SourceSansPro-Bold", fw-bold, normal)

/**
 * Montserrat
 */
webfont("Montserrat", "Montserrat", "Montserrat-Light", fw-light, normal)
webfont("Montserrat", "Montserrat", "Montserrat-Regular", fw-regular, normal)
webfont("Montserrat", "Montserrat", "Montserrat-SemiBold", fw-semi-bold, normal)
webfont("Montserrat", "Montserrat", "Montserrat-Bold", fw-bold, normal)

/**
 * Open Sans
 */
webfont("Open Sans", "OpenSans", "OpenSans-Regular", fw-regular, normal)
webfont("Open Sans", "OpenSans", "OpenSans-SemiBold", fw-semi-bold, normal)
webfont("Open Sans", "OpenSans", "OpenSans-Bold", fw-bold, normal)
