/*
 * Colors
 */
c-accent = #eb6539
c-grey-blue = #abbfc6
c-grey-dark = #4a4a4a
c-grey-pale = #eef2f4
c-grey-light = #7f7f7f
c-dark = #2c3e50
c-light = #f9f8f5
c-cream = #f4ecdd
c-white = #fff
c-black = #000
c-black-soft = #333
c-bg-body = c-light
/*
 * Fonst
 */
ff-main = "Source Sans Pro", sans-serif
ff-montserrat = "Montserrat", sans-serif
ff-roboto = "Roboto", sans-serif
ff-opensans = "Open Sans", sans-serif
/*
 * Font weights
 */
fw-thin = 100 // Thin (Hairline)
fw-extra-light = 200 // Extra Light (Ultra Light)
fw-light = 300 // Light
fw-regular = 400 // Regular (normal)
fw-medium = 500 // Medium
fw-semi-bold = 600 // Semi Bold (Demi Bold)
fw-bold = 700 // Bold
fw-extra-bold = 800 // Extra Bold (Ultra Bold)
fw-black = 900 // Black (Heavy)
/*
 * Font size
 */
line-height-base = 1.5
font-size-base = 14px
/*
 * Display resolutions
 */
desktop-xl = 2560
desktop-lg = 2250
desktop-md = 1920
desktop-sm = 1700
desktop-xs = 1600
laptop-lg = 1500
laptop-md = 1300
laptop-sm = 1199
tablet = 991
mobile-lg = 767
mobile-md = 639
mobile-smd = 575
mobile-sm = 479
mobile-xs = 360
