/*
 * Truncates text at a specific number of lines
 */
/* autoprefixer: off */
line-clamp(countLine)
  display -webkit-box
  overflow hidden
  text-overflow ellipsis
  -webkit-box-orient vertical
  -webkit-line-clamp countLine

/* autoprefixer: on */
