/*
 * Font color in placeholders
 */
placeholder-color(color)
  vendors = ":-webkit-input", "-moz", ":-moz", "-ms-input"

  for prefix in vendors
    &:{prefix}-placeholder
      if (prefix == ":-moz" || (prefix == "-moz"))
        -moz-opacity 1

      color color

      {block}
